html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial;    
    width:957px;
   	margin:auto;
}


header {
	background-image: url("../images/header.jpg");
    background-repeat:no-repeat;
    padding: 110px 30px 40px;
    font-size: 15px;
}

footer {
	padding: 10px 30px;
    background: orange;
    bottom:0;
}

header a {
    color: #1A1E20;
    text-decoration: none;
}

section {
    background-image: url("../images/body.jpg");
    background-repeat:no-repeat;
    padding: 10px 30px;
}

/** Scrollable Table CSS **/
table.logsTable {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	cellspacing: 0;
	border-collapse: collapse;
	width: 535px;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
}

table.logsTable td {
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	padding: 2px 4px;
	height: 20px;
}

table.logsTable th {
	border-left: 1px solid #999;
	padding: 10px 4px;
	background: #6b6164;
	color: white;
	font-size: 13px;
}

table.logsTable th.return {
    border-right: 1px solid #999;
}

table.logsTable td {
	background: #eee;
	overflow: hidden;
}

table.logsTable .empName     div { width: 108px; }
table.logsTable .medSupply   div { width: 126px; }
table.logsTable .quantity    div { width: 76px;  text-align:center; }
table.logsTable .timeStamp   div { width: 150px;  text-align:center; }
table.logsTable .return      div { width: 59px; }

table.logsTable tr:hover td {
  background-color: #0099FF; 
}

div.scrollableContainer {
	position: relative;
	width: 580px;
	padding-top: 36px;
	/* border: 1px solid #999;
	background: #6b6164; */
}

div.scrollingArea {
	height: 380px;
	overflow-y: auto;
	overflow-x: hidden;
}

table.scrollable thead tr {
	left: 0px;
	top: 0;
	position: absolute;
}

/**End Scrollable Table CSS**/

#pageTitle {
	float:left;
	padding-bottom: 5px;
}

#pageTitle a {
	font-size: 20px;
}

div#user {
	float:right;
	width:auto;
	color:#fff;
	font-weight:bold;
	font-size: 18px;
	
}

div#user a  {
	color:#fff;
	text-decoration: underline;
}

div#user a:hover  {
	color:#c00;
}

div#userName {
    width:auto;
    float:left; 
    margin-right: 5px;
	white-space: nowrap;
}

div#userName span{
	color:yellow;
}

div#logout {
	width:auto;
	float: right;
 	text-align:right;
	margin-left: 5px;
}

div.topbar {
	padding:0;
}

.bgCover { 
	background:#000; 
	position:absolute; 
	left:0; 
	top:0; 
	display: none; 
	overflow:hidden;
	height: 100%;
	width: 100%;
}

.overlayBox {
	border:1px solid black;
	position:absolute;
	display:none;
	width:400px;
	background:#D7D9D7;
}

.retConfOverlayBox {
	border:1px solid black;
	position:absolute;
	display:none;
	width:400px;
	background:#D7D9D7;
}

.top {
  height:30px;
  background-color: #323832;
  color: white;
  padding: 6px 5px 0;
}

.overlay-content {
  padding: 20px 20px 20px 20px;
}

.overlay-bold {
	font-weight:bold;
}

.overlay-text {
	font-weight:bold;
}

.ui-menu-item {
	font-size:12px;
}

.transactionFields {
	padding:3px;
}

.transactionButtons {
	padding:5px;
}

div .error {
    font-weight: bold;
    color: #c00;
}

.overlayError {
	border: 2px solid #c00;	    
}

.medicine-tooltip {
	padding-left:5px;
}

ul.nav {
	list-style-type:none;
	padding: 0;
}

ul.nav li {
	float:left;
	background-color: #0e3997;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
}

ul.nav li a {
	display: block; 
	padding: 8px 30px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;	
	border-right: 1px solid #ccc;
}

ul.nav .active {
	background-color: #fa6d03;
}

ul.nav li a:hover  {
	color: #ffffff;
	background-color: #2b57a5; 
}

.ui-dialog-titlebar {
    background: #323832;
    font-size: 15px;
    color: white;
    padding: 6px 5px 0;
}

.ui-button-text {
	font-size: 12px;
}

.ui-widget-content {
	font-size: 12px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
	text-align: center;
}

.ui-widget-overlay {
	background: #000 ;
	opacity: .5;
}

#txnErrorAlert {
	display:none;
}

.fancyBtn {
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.fancyBtn:hover:enabled {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(220, 220, 220)) repeat scroll 0% 0% transparent;
}

.formLabel {
	font-weight: bold;
}

input.textbox, textarea.textbox {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    width: 210px;
}

input.button {
	border-radius: 5px; 
	color: #ffffff;
	padding: 4px 5px;
	width: 100px;
	font-weight:bold;
}

input.orangeButton {
	border: 1px solid #fa6d03;
	background-color: #fa6d03; 
}

input.blueButton {
	border: 1px solid #1794c4;
	background-color: #1794c4;
}

input.blueButton:hover {
	border: 1px solid #4CB8E2;
	background-color: #4CB8E2;
}

table.dataContainer, th.dataContainer, td.dataContainer {
	border-collapse: collapse;
    border: 1px solid black;
    padding: 4px;
    text-align: center;    
}

table th {
	font-weight:bold;
	background-color: #faddcf;
}

th.headerLabel {
	padding: 5px 50px;
}

.medicalSupplyTableContainer {
	padding-top: 30px;
	padding-bottom: 30px;
}

.searchDate{
	padding-bottom: 15px;
}
.searchDate input.textbox {
    width: 110px;
}