@(message : String)(auditTrails : List[models.AuditTrail])
@import play.Configuration
@scripts = {
}

@main(Configuration.root().getString("project.title"), scripts, nav=Configuration.root().getString("nav.report")) {
	<script src='@routes.Assets.at("javascripts/reports.js")')></script>
	<script src='@routes.Assets.at("javascripts/jquery.dataTables.js")')></script>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery.dataTables.css")"/>
	<h1>@Configuration.root().getString("reports.auditTrails.title")</h1>
	<div name="container" style="width: 100%;">
		<div class="searchDate">
			@helper.form(routes.ReportsController.searchAuditTrails){
				<label class="formLabel">@Configuration.root().getString("reports.auditTrails.label.from"): </label>
				<input id="dateFrom" class="textbox" name="dateFrom" value="MM/DD/YYYY">
				<label class="formLabel">@Configuration.root().getString("reports.auditTrails.label.to"): </label>
				<input id="dateTo" class="textbox" name="dateTo" value="MM/DD/YYYY">					
				<input type="submit" class="button orangeButton" value="@Configuration.root().getString("button.search")">
			}
		</div>
		<table id="auditTrailsTable">
			<thead>
				  <tr>
				  	<th class="dataContainer">@Configuration.root().getString("reports.auditTrails.header.logTimeStamp")</th>
				    <th class="dataContainer">@Configuration.root().getString("reports.auditTrails.header.userName")</th>
				    <th class="dataContainer">@Configuration.root().getString("reports.auditTrails.header.requestorName")</th>
				    <th class="dataContainer">@Configuration.root().getString("reports.auditTrails.header.medSupBrandName")</th>
				    <th class="dataContainer">@Configuration.root().getString("reports.auditTrails.header.actionDone")</th>
				  </tr>
			</thead>
			<tbody>
				  @for(at <- auditTrails){
				  	<tr>
				  		<td class="dataContainer">@("%1$tm/%1$td/%1$tY %1$tH:%1$tM".format(at.getLogTimeStamp))</td>
				  		<td class="dataContainer">@at.getUserName</td>
				  		<td class="dataContainer">@at.getRequestorName</td>
				  		<td class="dataContainer">@at.getMedSupBrandName</td>
				  		<td class="dataContainer">@at.getActionDone</td>
				  	</tr>
				  }
			</tbody>
		</table>
	</div>	
}