@(message : String)(employees : List[models.Employee])(empForm: Form[Employee])
@import helper._

@main("Employee") {

 	<script src='@routes.Assets.at("javascripts/employee.js")')></script>
	<h1>@message</h1>
	<div name="container" style="width: 70%;">
		<div  name="employeeList" style="float: right; display: inline;">
			<h2>Employee List</h2>
			<table class="dataContainer" border="1">
				  <tr>
				    <th>Employee Id</th>
				    <th>First Name</th>
				    <th>Last Name</th>
				    <th>Delete</th>
				    <th>Update</th>
				  </tr>
				  @for(e <- employees){
				  	<tr>
				  		<td hidden="true" class="id">@e.getId</td>
				  		<td class="employeeCode">@e.getEmployeeCode</td>
				  		<td class="firstName">@e.getFirstName</td>
				  		<td class="lastName">@e.getLastName</td>
				  		<td><a href="@controllers.routes.EmployeeController.removeEmployee(e.getId)">Delete</a></td>
				  		<td><a class="update" href="#">Update</a></td>
				  	</tr>
				  }	
			</table>
		</div>
		<div style="float: left; display: inline;" >
			@form(routes.EmployeeController.setEmployee(), 'id -> "empForm"){
				<p>
					<h2>Employee Details</h2>
					@inputText(empForm("id"), 'readonly -> "readonly")
					@inputText(empForm("employeeCode"))
					@inputText(empForm("lastName"))
					@inputText(empForm("firstName"))
					<input type="submit" value="Submit">
					<input type="reset">
				</p>
			}
		</div>
	</div>

}