@(title: String, scripts: Html = Html(""), nav: String = "")(content: Html)

@import play.Configuration

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
    	@scripts
    </head>
    <body>
    	<header>
    		<div id="pageTitle" title="@title"></div>
			<div id="user">
				<div id="userName">Hello, <span>@UserController.name!</span></div>
				<div id="logout">
					<a href="@routes.UserController.logout()"><em>@Configuration.root().getString("button.logout")</em></a>
				</div>
			</div>
			<br/><br/>
			<div class="topbar">
                <ul class="nav">
                	<!-- TODO: remove hard coded value -->
                	<li class="@("active".when(nav == "employee"))">
                		<a href="@routes.EmployeeController.getEmployee()">@Configuration.root().getString("page.title.employee")</a>
                	</li>
                	<li class="@("active".when(nav == "medicalSupply"))">
                		<a href="@routes.MedicineController.getMedicine()">@Configuration.root().getString("page.title.medicalSupply")</a>
                	</li>
                	<li class="@("active".when(nav == "reports"))">
                		<a href="@routes.ReportsController.getReports()">@Configuration.root().getString("page.title.report")</a>
                	</li>
                	<li class="@("active".when(nav == "transaction"))">
                		<a href="@routes.TransactionController.getTransactions()">@Configuration.root().getString("page.title.transaction")</a>
                	</li>
                </ul>
        	</div>
		</header>
        <section>
            @content
        </section>
        <footer>
       		<p id="copyright" style="text-align: center; font-size: small;">
       			@Configuration.root().getString("niit.copyright")
       		</p>
 		</footer>	
    </body>
</html>
