@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    	@scripts
    </head>
    <body>
    	<header>
			<a href="#"><span id="pageTitle">@title</span></a>
			<dl id="user">
				<dt id="user">Hello (Frances)</dt>
				<dd id="user">
					<a href="#">Logout</a>
				</dd>
			</dl>
		</header>
        <section>
            @content
        </section>
        <footer>
       		<p id="copyright" style="text-align: center; font-size: small;">
       			Copyright 2014 NIIT Philippines Inc. All rights reserved.
       		</p>
 		</footer>	
    </body>
</html>
