@(message : String)(medicine : List[models.Medicine])

@main("Medical Supply") {

 	<script src='@routes.Assets.at("javascripts/admin.js")'></script>
	<div class="container" style="width: 90%;">
		<div  class="medicineList" style="float: right; display: inline;">
			<table class="dataContainer" border="1">
				  <tr>
				    <th>Brand Name</th>
				    <th>Generic Name</th>
				    <th>Desc</th>
				    <th>Count</th>
				    <th>Alert Count</th>
				    <th>Daily Limit</th>
				    <th>Available</th>
				    <th>Quantifiable</th>
				    <th>Delete</th>
				    <th>Update</th>
				  </tr>
				  @for(m <- medicine){
				  	<tr>
				  		<td hidden="true" class="id">@m.getId</td>
				  		<td class="brandName">@m.getBrandName</td>
				  		<td class="genericName">@m.getGenericName</td>
				  		<td class="description">@m.getDescription</td>
				  		<td class="count">@m.getCount</td>
				  		<td class="notificationAlertCount">@m.getNotificationAlertCount</td>
				  		<td class="dailyQtyLimitPerUser">@m.getDailyQtyLimitPerUser</td>
				  		<td class="available">@m.isAvailable</td>
				  		<td class="quantifiable">@m.isQuantifiable</td>
				  		<td><a href="@controllers.routes.MedicineController.removeMedicine(m.getId)">Delete</a></td>
				  		<td><a class="update" href="#">Update</a></td>
				  	</tr>
				  }	
			</table>
		</div>
		<div style="float: left; display: inline;">
			<form action="@controllers.routes.MedicineController.setMedicine()" method="post">
				<p>
					Medicine Name : <input id="brandName" name="brandName"> </br>
					Generic Name: <input id="genericName" name="genericName"> </br>
					Description: <input id="description" name="description"> </br>
					Stock Count : <input id="count" name="count"> </br>
					Daily Limit : <input id="dailyQtyLimitPerUser" name="dailyQtyLimitPerUser"> </br>
					Alert Quantity : <input id="notificationAlertCount" name="notificationAlertCount"> </br>					
					Available: <input type="checkbox" id="available" name="available" ><br>
					Quantifiable: <input type="checkbox" id="quantifiable" name="quantifiable" ><br>
					
					<input type="submit" value="Submit">
					<input type="reset">
				</p>
			</form>
		</div>
	</div>

}