@import play.Configuration

<div class="overlayBox">
	<div class="overlayContent">
		<!--the close button-->
		<div class="top">
			<span id="addMedSupply" style="display: none;">@Configuration.root().getString("medicalSupply.overlay.title.add")</span>
			<span id="editMedSupply" style="display: none;">@Configuration.root().getString("medicalSupply.overlay.title.edit")</span>
			<input type="button" onclick="closeOverlay('.overlayBox');" value="X" style="float: right;" />
		</div>
		<!--normal content-->
		<div class="overlay-content">
			<form action="@controllers.routes.MedicineController.setMedicine()" method="post">
				<input type="hidden" id="oid" name="objectId" >
				<table>
					<tr>
						<td><label class="formLabel">@Configuration.root().getString("medicalSupply.overlay.brandName"): </label></td>
						<td><input type=text id="brandName" name="brandName" class="textbox"></td>
					</tr>
					<tr>
						<td><label class="formLabel">@Configuration.root().getString("medicalSupply.overlay.genName"): </label></td>
						<td><input type=text id="genericName" name="genericName" class="textbox"></td>
					</tr>
					<tr>
						<td><label class="formLabel">@Configuration.root().getString("medicalSupply.overlay.desc"): </label></td>
						<td><input type=text id="description" name="description" class="textbox"></td>
					</tr>
					<tr>
						<td><label class="formLabel">@Configuration.root().getString("medicalSupply.overlay.available"): </label></td>
						<td><input type="checkbox" id="available" name="available" checked="checked"></td>
					</tr>
					<tr>
						<td><label class="formLabel">@Configuration.root().getString("medicalSupply.overlay.quantifiable"): </label></td>
						<td><input type="checkbox" id="quantifiable" name="quantifiable" checked="checked"></td>
					</tr>
					<tr>
						<td><label class="formLabel">@Configuration.root().getString("medicalSupply.overlay.stockCnt"): </label></td>
						<td><input type=text id="count" name="count" class="textbox"></td>
					</tr>
					<tr>
						<td><label class="formLabel">@Configuration.root().getString("medicalSupply.overlay.lmtPerPerson"): </label></td>
						<td><input type=text id="dailyQtyLimitPerUser" name="dailyQtyLimitPerUser" class="textbox"></td>
					</tr>
					<tr>
						<td><label class="formLabel">@Configuration.root().getString("medicalSupply.overlay.alertQty"): </label></td>
						<td><input type=text id="notificationAlertCount" name="notificationAlertCount" class="textbox"></td>
					</tr>
				</table>
				<div class="transactionButtons">
					<center>
						<input type="submit" value='@Configuration.root().getString("overlay.save")' id="saveMedicalSupply" />
						<input type="button" onclick="closeOverlay('.overlayBox'); "value='@Configuration.root().getString("overlay.close")' />
					</center>
				</div>
			</form>
		</div>
	</div>
</div>