@(employeeNames: List[String])

<div class="bgCover">&nbsp;</div>
<div class="overlayBox">
	<div class="overlayContent">
		<!--the close button-->
		<div class="top">
			Get Medical Supply <input type="button" onclick="closeOverlay();"
				value="X" style="float: right;" />
		</div>
		<!--normal content-->
		<div class="overlay-content">
			<div class="clear">
				<label class="overlay-text">Name:</label> <select>
					@for(empName <- employeeNames){
					<option>@empName</option> }
				</select>
			</div>

			@for(i <- 0 to 2) {
			<div class="clear">
				<label class="overlay-text">Medical Supply:</label> <select>
					<option></option> @for(empName <- employeeNames){
					<option>@empName</option> }
				</select> <select>
					<option>1</option>
				</select>
			</div>
			}
			<div>
				<center>
					<input class="button" type="button" onclick="" value="Save" /> <input
						class="button" type="button" onclick="closeOverlay();"
						value="Close" />
				</center>
			</div>
		</div>
	</div>
</div>