@(transactionForm: Form[Transaction], errorKeys: List[String])

@import play.Configuration

<div class="overlayBox">
	<div class="overlayContent">
		<!--the close button-->
		<div class="top">
			@Configuration.root().getString("transaction.overlay.title")
			<input type="button" onclick="closeOverlay('.overlayBox');" value="X" style="float: right;" />
		</div>
		<!--normal content-->
		<form action="@controllers.routes.TransactionController.setTransaction()"  method="post" id="transactionForm">
		<div class="overlay-content">
			
			<div class="clear">
				<div id="errorMsg">
				@if(transactionForm.hasErrors) {
					@for(errorKey <- errorKeys) {
					<p class="error">
						@transactionForm.error(errorKey).message()
					</p>
					}
				}
				</div>
			</div>
			
			<div class="clear transactionFields">
				<label class="overlay-text">@Configuration.root().getString("transaction.overlay.empName"):</label>
				<span name="visitorName" id="visitorId" style="display: none;">(Visitor)</span><input name="employeeName" id="employeeNameId" value="@transactionForm("employeeName").value" placeholder="predictive-text"/>
			</div>
				
			<div class="medicineTransactions">
				@for(i <- 0 to 2) {
				<div class="clear transactionFields">
					<label class="overlay-text">@Configuration.root().getString("transaction.overlay.medName"):</label>
					<input name="medSupItems[@i].id" id="medicineId@i" value="@transactionForm("medSupItems["+ i +"].id").value" type="hidden"/>
					<input name="medSupItems[@i].brandName" id="medicineInput@i" value="@transactionForm("medSupItems["+ i +"].brandName").value" placeholder="predictive-text"/>

					<select name="medSupItems[@i].quantity" id="medicineQty@i">
					  <option>0</option>
					</select>
					<img class="medicine-tooltip" alt="" id="medicineTooltip@i" src="@routes.Assets.at("images/tooltip_icon.png")">
				</div>
				}
			</div>
			
			<div class="transactionButtons">
				<center>
					<input type="submit" value='@Configuration.root().getString("overlay.save")' id="saveTransactions"/> 
					<input class="button" type="button" onclick="closeOverlay('.overlayBox'); "value='@Configuration.root().getString("overlay.close")' />
				</center>
			</div>
		</div>
		</form>
	</div>
</div>